<footer class="bg-[#F8F5F0] border-t border-[#F5ECDD]  py-10  flex md:flex-row flex-col justify-center">
    <div class="container flex md:flex-row flex-col justify-start md:items-start items-center gap-10 md:gap-30 px-3 sm:px-0">
        <div class="footerLogo flex md:flex-col gap-[24px] min-w-0">
            <a href="#"><img class="footerLogoImg w-full h-auto object-contain md:max-w-[208px] max-w-[150px]" src="/images/sofraLogoFooter.png"></a>
            
            <div class="flex flex-col min-w-0">
                <span class="font-aleo text-[14px] leading-[36px] text-[#A2AEB9]">Takip Et</span>
                <div class="authorSocial flex flex-row gap-[10px] pb-[5px] pl-[2px] min-w-0 flex-wrap">
                    <a href="#"><img src="./images/facebook.svg" alt="facebook" class="w-[31.15px] h-[31.15px]"></a>
                    <a href="#"><img src="./images/twitter.svg" alt="twitter" class="w-[31.15px] h-[31.15px]"></a>
                    <a href="#"><img src="./images/instagram.svg" alt="instagram" class="w-[31.15px] h-[31.15px]"></a>
                    <a href="#"><img src="./images/youtube.svg" alt="youtube" class="w-[31.15px] h-[31.15px]"></a>
                </div>
            </div>
        </div>
        <div class="flex flex-row md:gap-30 items-start gap-5 justify-start flex-wrap md:flex-nowrap">
            <div class="footerMenu flex flex-col items-center md:gap-10 gap-5">
                <ul class="flex flex-col ">
                    <li><a href="#" class="footerMenuLink font-aleo text-[18px] leading-[36px] text-[#161616]">Tarifler</a></li>
                    <li><a href="#"  class="footerMenuLink font-aleo text-[18px] leading-[36px] text-[#161616]">Kültür</a></li>
                    <li><a href="#"  class="footerMenuLink font-aleo text-[18px] leading-[36px] text-[#161616]">Ekipman & Stil</a>
                    <li><a href="#"  class="footerMenuLink font-aleo text-[18px] leading-[36px] text-[#161616]"> Yeme - İçme</a></li>
                    <li><a href="#"  class="footerMenuLink font-aleo text-[18px] leading-[36px] text-[#161616]">Sofra TV</a></li>

                </ul>
                <button class="flex items-center justify-center bg-[#ed1c24] py-[12px] px-[20px] rounded-[36px] h-[47px] hover:bg-[#FFA800] transition-all duration-300 ease-in-out ">
                        <a class="flex flex-row gap-[8px] uppercase font-aleo text-[12px] md:text-[16px] tracking-[2%] text-[#F8F5F0] whitespace-nowrap cursor-pointer">abone ol
                            <img src="/images/footerPlus.svg">
                        </a>
                </button>
            </div>
            <div class="footerMenu2 flex items-center ">
                <ul class="flex flex-col ">
                    <li><a href="#" class="footerMenuLink font-aleo text-[18px] leading-[36px] text-[#594C4C]">Rss</a></li>
                    <li><a href="#"  class="footerMenuLink font-aleo text-[18px] leading-[36px] text-[#594C4C]">Künye</a></li>
                    <li><a href="#"  class="footerMenuLink font-aleo text-[18px] leading-[36px] text-[#594C4C] whitespace-nowrap">Gizlilik Bildirimi</a>
                    <li><a href="#"  class="footerMenuLink font-aleo text-[18px] leading-[36px] text-[#594C4C]"> Veri Politikası</a></li>
                    

                </ul>
            </div>
        </div>
    </div>
</footer>